<div class="projects-grid">
  {% for slug in page.remote_projects %}
    {% assign proj = site.pages | where:"slug", slug | first %}
    {% if proj %}
      <div class="project-card">
        
        <a href="{{ proj.url | relative_url }}" class="project-link">
          <div class="project-thumb-wrapper">
            <img src="{{ proj.image | relative_url }}" alt="{{ proj.name }} architecture" class="project-thumb">
            <div class="overlay"><span>Voir les Détails</span></div>
          </div>
        </a>

        <h2><a href="{{ proj.url | relative_url }}">{{ proj.name }}</a></h2>

        <p>{{ proj.description | truncate: 120 }}</p>

        {% if proj.external_url %}
          <a href="{{ proj.external_url | relative_url }}" class="btn btn-primary" target="_blank">Regarder la Démo 🎥</a>
        {% endif %}
      </div>
    {% else %}
      <p>Project with slug "{{ slug }}" not found.</p>
    {% endif %}
  {% endfor %}
</div>