<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ page.name }} | Mon Portfolio</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}"> 

    </head>
<body>
    <header>
        <nav>
            <a href="{{ '/' | relative_url }}">Accueil</a>
            <a href="{{ '/projects/' | relative_url }}">Projects</a>
            <a href="{{ '/demos/' | relative_url }}">Demos</a>
        </nav>
    </header>

    <main class="project-details">
        {{ content }} 
        
    </main>
    
    <footer>
        <p>&copy; 2025 Hicham El Mehdi</p>
    </footer>
</body>
</html>